Config (
    argon2: (
        ad: [],
        hash_length: 32,
        lanes: 4,
        mem_cost: 16384,
        secret: [0xe4, 0x97, 0x6, 0x5e, 0xc4, 0xe1, 0xf9, 0xb, 0x5f, 0xe9, 0x17, 0x96, 0xcd, 0x21, 0xb, 0x2f, 0xd7, 0x40, 0x71, 0x56, 0x42, 0x42, 0x16, 0x54, 0x27, 0x6e, 0x87, 0x59, 0x12, 0x6, 0x33, 0xf6],
        thread_mode: Parallel,
        time_cost: 3,
        variant: Argon2i,
        version: Version13,
    ),
    salt_size: 32,
    secret_size: 32,
    db_url: "postgresql://root@localhost:26257/defaultdb?sslmode=disable",
    db_url_test: "postgresql://root@localhost:26257/defaultdb?sslmode=disable",
    redis_url: "redis://127.0.0.1/",
    region_id: "REGION_TEST",
    api_port: 3001,
    buckets: {
        MessageAttachments: (
            name: "name",
            region: "region",
            //credentials: ()
        )
    },
    admins: {
        "jk2k": (
            password: "",
            password_hash: Some("$argon2i$v=19$m=16384,t=3,p=4$AR/+SZjHj/MjqlSGavWUqg/WmnyfsnjsZ9FogroF2zM$8TjBzx2X7fP4P9wx37IB2YmxRyNUU/aYngLKRYhqsP8"),
            two_factor_auth: "TODO"
        ),
        "problemMan": (
            password: "Password#123",
            password_hash: None,
            two_factor_auth: "TODO"
        ),
    },
    db_default_take: 50,
    db_max_take: 100,
)